.cartContainer {
  padding: 0;
  min-height: 90vh;
}

.cartTitle {
  margin: 0;
  padding: 15px;
  text-align: center;
}

.cartSubHeading {
  text-align: center;
  font-size: 14px;
  padding: 15px;
  margin-bottom: 15px;
  opacity: 0.7;
}

.cartWrapper {
  margin: 0 auto;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cartButtonWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.cartBannerButton {
  padding: 30px 15px;
  text-align: center;
  text-transform: uppercase;
  min-width: 45%;
  border: 2px solid #f0f2fd;
  background-color: #f0f2fd;
  background-image: none;
  font-size: 18px;
  box-shadow: none;
  outline: none;
}

.cartBannerButton:focus, .cartBannerButton:active {
  box-shadow: none;
  outline: none;
}

.cartBannerButton:hover {
  background-color: #f0f2fd;
  box-shadow: 0 0 5px #aeaeae;
}

.cartBannerButton.left {
  margin-right: 15px;
}

.cartBannerButton.right {
  color: #3d4579;
  margin-left: 15px;
  position: relative;
}

.cartBannerButton.active {
  box-shadow: none;
  outline: none;
}

.cartBannerButton.left.active {
  border: 2px solid #3d4579;
  background-color: transparent;
}

.cartBannerButton.right.active {
  border: 2px solid #4ccbb6;
  background-color: transparent;
}

.cartContainer .medicineCard {
  border-bottom: solid 1px #e3e4ea;
}

.cartContainer .medicineCard:hover {
  border: solid 1px #8a96cb;
}

.bestValueText {
  color: #ffffff;
  background-color: #4ccbb6;
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 12px;
  padding: 5px 15px;
  border-radius: 2px;
  transform: translateX(-50%);
  font-weight: 100;
  letter-spacing: 5px;
}

.saveAmount {
  color: #4ccbb6;
  font-size: 12px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.cartItemListContainer {
  width: 100%;
  min-height: 40vh;
  padding: 15px 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.cartItemList {
  width: 100%;
  padding: 15px 0;
  max-height: 50vh;
  overflow: auto;
}

.cartFooter {
  width: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 15px;
  background-color: #465083;
  max-height: 15vh;
}
.cartFooter .amountContainer {
  margin: 0;
  padding: 5px 0;
}

.cartFooter .totalAmount{
  font-size: 18px;
}

.cartFooter.userCart {
  background-color: #465083;
}

.cartFooter.bdvCart {
  background-color: #5cd1be;
}

.cartFooter .proceedButton {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff;
  background-color: rgba(0,0,0,0.2);
  padding: 5px 30px;
  color: #ffffff;
  border-radius: 15px;
}

.proceedButton:hover {
  text-decoration: none;
}

@media screen and (max-width: 800px){
  .cartContainer {
    padding: 0;
  }

  .cartWrapper {
    width: 100%;
  }

  .cartTitle {
    padding: 15px;
    font-size: 18px;
  }

  .cartSubHeading {
    padding: 0;
    font-size: 12px;
  }

  .cartBannerButton {
    padding: 5px;
    height: 60px;
    font-size: 14px;
  }

  .cartBannerButton:focus, .cartBannerButton:active {
    box-shadow: none;
    outline: none;
  }


  .bestValueText {
    font-size: 10px;
    letter-spacing: 1px;
    position: absolute;
    top: -25%;
    padding: 5px;
  }

  .saveAmount {
    font-size: 10px;
  }

  .cartItemList {
    max-height: initial;
    padding-bottom: 15vh;
  }

  .cartFooter {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    width: 100vw;
  }
}
