.orderSuccessContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #353b6f;
}

.orderSuccessCard {
  width: 30%;
  min-height: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #ffffff;
  background-color: #ffffff;
  padding: 30px;
}

.orderSuccessCard h2 {
  font-size: 24px;
  margin: 0;
  padding: 15px;
}
