.ribbon {
  background-color: rgba(0,0,0,0.2);

}

.ribbon .container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.nav-pill {
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
}

.nav-pill:hover {
  background-color: rgba(255,255,255, 0.1);
}

.siteTitle {
  font-size: 32px;
  margin: 0;
  padding: 15px;
}

.homeButton {
  position: absolute;
  left: 15px;
  top: 15px;
  padding: 5px;
  color: #ffffff;
  font-size: 12px;
  border: 1px solid #ffffff;
  overflow: hidden;
}

.homeButton:visited {
  color: #ffffff;
}

@media screen and (max-width: 800px) {
  .siteTitle {
    font-size: 18px;
  }
}
