@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  margin: 0;
  background-color: #efefef;
}

.layoutContainer {
  width: 100%;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 800px;
  margin: 0 auto;
}
